<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1063" key="8dd1a424-be69-4194-b9ed-c4fe13a9bef0" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-12-20T20:42:16" updateDate="2017-12-20T22:16:07" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1060" creatorName="Admin" writerName="Admin" writerID="0" template="1059" nodeTypeAlias="home">
    <portfolio><![CDATA[<div class="container-fluid">
<div class="row no-gutter popup-gallery">
<div class="col-lg-4 col-sm-6"><a href="/img/portfolio/fullsize/1.jpg" class="portfolio-box"> <img class="img-fluid" src="/img/portfolio/thumbnails/1.jpg" alt="" /></a>
<div class="portfolio-box-caption">
<div class="portfolio-box-caption-content">
<div class="project-category text-faded"></div>
<div class="project-name">Online shoping</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6"><a href="/img/portfolio/fullsize/2.jpg" class="portfolio-box"> <img class="img-fluid" src="/img/portfolio/thumbnails/2.jpg" alt="" /></a>
<div class="portfolio-box-caption">
<div class="portfolio-box-caption-content">
<div class="project-category text-faded"></div>
<div class="project-name">Mobile APP</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6"><a href="/img/portfolio/fullsize/3.jpg" class="portfolio-box"> <img class="img-fluid" src="/img/portfolio/thumbnails/3.jpg" alt="" /></a>
<div class="portfolio-box-caption">
<div class="portfolio-box-caption-content">
<div class="project-category text-faded"></div>
<div class="project-name">Smart Pos machine</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6"><a href="/img/portfolio/fullsize/4.jpg" class="portfolio-box"> <img class="img-fluid" src="/img/portfolio/thumbnails/4.jpg" alt="" /></a>
<div class="portfolio-box-caption">
<div class="portfolio-box-caption-content">
<div class="project-category text-faded"></div>
<div class="project-name">Security Payment</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6"><a href="/img/portfolio/fullsize/5.jpg" class="portfolio-box"> <img class="img-fluid" src="/img/portfolio/thumbnails/5.jpg" alt="" /></a>
<div class="portfolio-box-caption">
<div class="portfolio-box-caption-content">
<div class="project-category text-faded"></div>
<div class="project-name">QR code</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6"><a href="/img/portfolio/fullsize/6.jpg" class="portfolio-box"> <img class="img-fluid" src="/img/portfolio/thumbnails/6.jpg" alt="" /></a>
<div class="portfolio-box-caption">
<div class="portfolio-box-caption-content">
<div class="project-category text-faded"></div>
<div class="project-name">Replace wallet</div>
</div>
</div>
</div>
</div>
</div>]]></portfolio>
    <about><![CDATA[<div class="container">
<div class="row">
<div class="col-lg-8 mx-auto text-center">
<h2 class="section-heading text-white">About Us</h2>
<hr class="light" />
<p class="text-faded">JinPay is an online, in-store and mobile payment solution which enables your business to accept payments from Chinese consumers through Alipay.</p>
<a href="#services" class="btn btn-default btn-xl js-scroll-trigger">Let's Started!</a></div>
</div>
</div>]]></about>
    <service><![CDATA[<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">Our Service</h2>
<hr class="primary" /></div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6 text-center">
<div class="service-box">
<h3>QR Code</h3>
<p class="text-muted">Payment QR code system and smart POS implementation.</p>
</div>
</div>
<div class="col-lg-3 col-md-6 text-center">
<div class="service-box">
<h3>Online</h3>
<p class="text-muted">Integration of online and mobile payment gateway with customizable API.</p>
</div>
</div>
<div class="col-lg-3 col-md-6 text-center">
<div class="service-box">
<h3>Invoices</h3>
<p class="text-muted">Personalized invoicing system to enable direct payments and which works with most accounting software.</p>
</div>
</div>
<div class="col-lg-3 col-md-6 text-center">
<div class="service-box">
<h3>Account and Analytics</h3>
<p class="text-muted">Dedicated account website and analytics.</p>
</div>
</div>
</div>
</div>]]></service>
    <contact><![CDATA[<div class="container">
<div class="row">
<div class="col-lg-8 mx-auto text-center">
<h2 class="section-heading">Let's Get In Touch!</h2>
<hr class="primary" />
<p>Do you want to discuss what is the best solution for your business? Give us a call or send us an email</p>
</div>
</div>
<div class="row">
<div class="col-lg-4 ml-auto text-center">
<p>0782 895 1088</p>
</div>
<div class="col-lg-4 mr-auto text-center">
<p><a href="mailto:info@jinpayment.com">info@jinpayment.com</a></p>
</div>
</div>
</div>]]></contact>
  </home>
</root>